body {
    background-image:  url('../images/cover-edit-01.png');
    background-size:   cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: center center;            /* optionally, center the image */
}

.avatar {
    vertical-align: middle;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    position: absolute;
    top: 200px;
    left: 50px;
}

.info{
    width: 33%  !important; 
    -webkit-print-color-adjust: exact;
    position: absolute;
    top: 450px;
    left: 36px;
    color: #1B6BA5;
   
}

h1.name{
    font-size: 18px;
}

p.details{
    font-size: 12pt;

}

p.para{
    position: absolute;
    top: 600px;
    left: 50px;
    width: 25%;
    text-align: justify;
    font-size: 14pt;
}

.cover-title{
    text-align: right;
    position: relative;
    top: 52%;
    right: 50px;
}

h1.title-report{
    color:#1B6BA5 ;
    font-size: 40pt;
}

p.cap{
    font-size: 34pt;
    color: #1CA7C4;
}

@page {
    size: a4;
    margin:0;
  }
  @media print {
    html, body {
      width: 100%;
      height: 100%;
    }
    h1.name{
        word-wrap: break-word;
        width: 45%;
    }
    
  }

@media screen {
    html,body{
    width: 210mm;
    height: 297mm;
    }

}